<div id="footer_sitemap" class="container">
	{% if ln == 0 %}
			<div class="wrapper" >
				<div id="menu_other_links">
					<ul>
						<li>				
							<a href="/inicio" title="Inicio">Inicio</a>
							<ul>
								<li class="">
									<a href="/inicio/servicios" title="servicios">Servicios</a>
								</li>
								<li>
									<a href="/inicio/tramites" title="Trámites y Permisos">Trámites y Permisos</a>
								</li>
								<li>
									<a href="/inicio/seguros" title="Seguros">Seguros</a>
								</li>
								<li>
									<a href="/inicio/compra_linea" title="Compra en línea">Compra en línea</a>
								</li>				
							</ul>
						</li><li class="nosotros">
							<a href="/nosotros" title="Nosotros">Nosotros</a>
							<ul>
								<li class="">
									<a href="/nosotros/quienes-somos" title="Quíenes somos">Quíenes somos</a>
								</li>
								<li class="">
									<a href="/nosotros/mision-vision" title="Misión y Visión">Misión y Visión</a>
								</li>
								<li class="">
									<a href="/nosotros/valores" title="Valores">Valores</a>
								</li>
								<li class="">
									<a href="/nosotros/ventajas-competitivas" title="Ventajas Competitivas">Ventajas Competitivas</a>
								</li>
								<li class="">
									<a href="/nosotros/nuestros_clientes" title="Nuestros Clientes">Nuestros Clientes</a>
								</li>
								<li class="">
									<a href="/nosotros/companias-aseguradoras" title="Compañías aseguradoras">Compañías aseguradoras</a>
								</li>				
							</ul>
						</li><li class="tramites_permisos">
							<a href="/tramites" title="Trámites y Permisos">Trámites y Permisos</a>
							<ul>
								<li>
									<a href="/tramites" title="Trámites">Trámites</a>
								</li>
								<li>
									<a href="/permisos" title="Permisos">Permisos</a>
								</li>				
							</ul>
						</li><li class="seguros">
							<a href="/seguros" title="Seguros">Seguros</a>
							<ul>
								<li>
									<a href="/seguros/us" title="Seguros USA">USA</a>
								</li>
								<li>
									<a href="/seguros/mx" title="Seguros MEX">MEX</a>
								</li>			
							</ul>
						</li><li>
								<a href="/auditorias" title="Auditorías">Auditorías</a>
								<ul>
									<li>
										<a href="/auditorias/consultoria" title="Consultoría en auditorías">Consultoría en auditorías</a>
									</li>
								</ul>
						</li>		
					</ul>
					<ul id="other_list_elements">
						<li>
							<a href="/compra_linea" title="Compra en línea">Compra en Línea</a>
						</li><li>
							<a href="/contacto" title="Contacto">Contacto</a>
						</li>
					</ul>	
		
				</div><div id="footer_social">
					<p><span>Síguenos en: </span>
						<a href="#" title="Síguenos en facebook" target="_blank"><img src="/static/media/fe/facebook_logo_footer.png" alt="Facebook" ></a>
					</p>
				</div><div id="footer_contact_data">
					<div class="wrapper">
						<p><span>Contacto</span></p>
						<p>USA Tel: (619) 710-0451<br />
						Fax: (619) 710-4827<br />
						Mex Tel: (664) 623-7743
						</p>
						<p>9765 Marconi Dr. Ste 105 <br />
						San Diego CA 92154 USA
						</p>
						<p>Blvd. 3a Oeste 17601-104<br />
						Fraccionamiento Garita de Otay<br />
						Tijuana, BC., MX
						</p>
					</div>
				</div>	
			</div>
		</div>
		<div id="bottom_footer">
			<div class="container">
				<img src="/static/media/fe/footer_logo_go.png" id="footer_logo" />
				<p> Todos los derechos reservados &copy; 2013
				</p><div id="poweredby">
					<p>Powered by: <a href="http://www.thinkcorporativo.com" title="Think Corporativo" target="_blank">THINK</a> / <a href="http://www.mintitmedia.com" title="Mint IT Media" target="_blank">Mint</a> </p>
			</div>
		</div>
	{% endif %}
	
	
	{% if ln == 1 %}
			<div class="wrapper" >
				<div id="menu_other_links">
					<ul>
						<li>				
							<a href="/home" title="Home">Home</a>
							<ul>
								<li class="">
									<a href="/home/services" title="Services">Services</a>
								</li>
								<li>
									<a href="/home/procedures" title="Procedures and permits">Procedures and permits</a>
								</li>
								<li>
									<a href="/home/insurance" title="Nosotros">Insurance</a>
								</li>
								<li>
									<a href="/home/buy_online" title="Buy online">Buy online</a>
								</li>				
							</ul>
						</li><li class="nosotros">
							<a href="/about-us" title="About Us">About Us</a>
							<ul>
								<li class="">
									<a href="/about-us/who-are-we" title="Nosotros">Who are we</a>
								</li>
								<li class="">
									<a href="/about-us/mission-vision" title="Mission and Vision">Mission and<br/> Vision</a>
								</li>	
								<li class="">
									<a href="/about-us/values" title="Values">Values</a>
								</li>	
								<li class="">
									<a href="/about-us/competitive-advantages" title="Competitive advantages">Competitive advantages</a>
								</li>
								<li class="">
									<a href="/about-us/our-clients" title="Our clients">Our clients</a>
								</li>	
								<li class="">
									<a href="/about-us/insurance-companies" title="Insurance Companies we Represent">Insurance Companies we Represent</a>
								</li>
							</ul>
						</li><li class="tramites_permisos">
							<a href="/procedures" title="Procedures and Permits">Procedures<br /> and Permits</a>
							<ul>
								<li>
									<a href="/procedures" title="Procedures">Procedures</a>
								</li>
								<li>
									<a href="/permits" title="Permits">Permits</a>
								</li>				
							</ul>
						</li><li class="seguros">
							<a href="/insurance" title="Insurance">Insurance</a>
							<ul>
								<li>
									<a href="/insurance/us" title="Insurance USA">USA</a>
								</li>
								<li>
									<a href="/insurance/mx" title="Insurance MEX">MEX</a>
								</li>			
							</ul>
						</li><li>
								<a href="/audits" title="Audits">Audits</a>
								<ul>
									<li>
										<a href="/audits/consultation" title="Consultory service in audits">Consultory service in audits</a>
									</li>
								</ul>
						</li>		
					</ul>
					<ul id="other_list_elements">
						<li>
							<a href="/buy_online" title="Buy Online">Buy Online</a>
						</li><li>
							<a href="/contact" title="Contact">Contact</a>
						</li>
					</ul>	

				</div><div id="footer_social">
					<p><span>Follow us on: </span>
						<a href="#" title="Follow us on facebook" target="_blank"><img src="/static/media/fe/facebook_logo_footer.png" alt="Facebook" ></a>
					</p>
				</div><div id="footer_contact_data">
					<div class="wrapper">
						<p><span>Contact</span></p>
						<p>USA Tel: (619) 710-0451<br />
						Fax: (619) 710-4827<br />
						Mex Tel: (664) 623-7743
						</p>
						<p>9765 Marconi Dr. Ste 105 <br />
						San Diego CA 92154 USA
						</p>
						<p>Blvd. 3a Oeste 17601-104<br />
						Fraccionamiento Garita de Otay<br />
						Tijuana, BC., MX
						</p>
					</div>
				</div>	
			</div>
		</div>
		<div id="bottom_footer">
			<div class="container">
				<img src="/static/media/fe/footer_logo_go.png" id="footer_logo" />
				<p> All rights reserved &copy; 2013
				</p><div id="poweredby">
					<p>Powered by: <a href="http://www.thinkcorporativo.com" title="Think Corporativo" target="_blank">THINK</a> / <a href="http://www.mintitmedia.com" title="Mint IT Media" target="_blank">Mint</a> </p>
			</div>
		</div>
	
	{% endif %}
	
	
	
	
	
</div>
