 {% extends "layout/base.html" %}

{% block site_wrapper %}
{% autoescape off %}
	<div id="first_block">
		<div class="container">
			<div class="column half first">
				<h2 class="gray_text">{{data.tramites_permisos.title}}</h2>
			</div><div class="column half">
				<a href="/{{data.tramites_permisos.button_url}}" title="{{data.tramites_permisos.button_text}}" class="button"><span><span>{{data.tramites_permisos.button_text}}</span></span></a>
			</div>
			<div class="column half first">
				<p>{{data.tramites_permisos.desc_left}}</p>
			</div><div class="column half">
				<p>{{data.tramites_permisos.desc_right}}</p>
			</div>
		</div>
	</div>	
	<div id="tramites_dmv" class="top_gray_line">
		<div class="container" id="dmv">
			<h2 class="country_back_eu">{{data.dmv.title}}<span></span></h2>	
			<div class="column half first">
				<ul class="slider_navigation" alt="slider_dmv">
					<li id="dmv_prev" class="prev"></li>
					<li id="dmv_next" class="next"></li>
				</ul>	
				<div id="slide_dmv_wrapper">
					<div id="slider_dmv" class="grid_slider">
						<ul>
							{% for row in dmv %}
							<li id="{{row.id}}_slide" class="{% if forloop.first %}current first{% elif forloop.last %}last{% endif %}">
								<div class="dmv_text">
									{% if row.title %}<h4>{{row.title}}</h4>{% endif %}
									<p>{{row.desc}}</p>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div><!-- #slider_dmv -->
				</div><!-- #slide_dmv_wrapper -->
			</div><div class="column half">
				<div class="slideshow">
					<img src="/media/fe/tramites/dmv/GO_tramites_dmv_01.jpg" alt="dmv" />
					<img src="/media/fe/tramites/dmv/GO_tramites_dmv_02.jpg" alt="dmv" class="hide" />
				</div>
			</div>
			
		</div>
		<div class="list_area top_gray_line grid">
			<h3>{{data.dmv.subtitle}}</h3>
			<ul id="tramites_dmv_menu" class="slider_dmv">{% for row in dmv %}{% if not forloop.first %}{% if forloop.counter == 2 or forloop.counter == 5 %}<li id="{{row.id}}" class="first"><span>{{row.title}}</span></li>{% elif forloop.counter == 4 or forloop.counter == 7 %}<li id="{{row.id}}" class="last"><span>{{row.title}}</span></li>{% else %}<li id="{{row.id}}" class="{% if forloop.counter == 6 and ln == 1 %} two_lines {% endif %}"><span>{{row.title}}</span></li>{% endif %}{% endif %}{% endfor %}	
			</ul>
		</div>
	</div><!-- #tramites_dmv -->
	<div id="tramites_eu" >
		<div id="content_tramites">
			<div class="container" id="eu">
				<h2 class="country_back_eu">{{data.eu.title}}<span></span></h2>
				<div class="column half first">
					<ul class="slider_navigation" alt="slider_eu">
						<li id="eu_prev" class="prev"></li>
						<li id="eu_next" class="next"></li>
					</ul>
					<div id="slide_eu_wrapper">
						<div id="slider_eu" class="grid_slider">
							<ul>
								{% for row in eu %}
								<li id="{{row.id}}_slide" class="{% if forloop.first %}current first{% elif forloop.last %}last{% endif %}">								
									<div class="eu_text">
										{% if row.title %}<h4>{{row.title}} {% if row.subtitle|length %}<span class="small">{{row.subtitle}}</span>{% endif %}</h4>{% endif %}
										<p>{{row.desc}}</p>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div><!-- #slider_eu -->
					</div><!-- #slide_eu_wrapper -->
				</div><div class="column half">
					<div class="slideshow">
						<img src="/media/fe/tramites/eu/GO_tramites_EU_01.jpg" alt="eu" />
						<img src="/media/fe/tramites/eu/GO_tramites_EU_02.jpg" alt="eu" class="hide" />
					</div>
				</div>
				
			</div>	
			<div class="list_area grid">
				<h3>{{data.eu.subtitle}}</h3>
				<ul id="tramites_eu_menu" class="slider_eu">{% for row in eu %}{% if not forloop.first %}{% if forloop.counter == 2 %}<li id="{{row.id}}" class="first two_lines"><span>{{row.title}} {% if 'subtitle' in row %}{{row.subtitle}}</span>{% endif %}</li>{% elif forloop.counter0|divisibleby:"3" %}<li id="{{row.id}}" class="last"><span>{{row.title}} {% if 'subtitle' in row %}{{row.subtitle}}{% endif %}</span></li>{% elif forloop.counter == 5 or forloop.counter == 8 or forloop.counter == 11 or forloop.counter == 14 %}<li id="{{row.id}}" class="first"><span>{{row.title}} {% if 'subtitle' in row %}{{row.subtitle}}{% endif %}</span></li>{% else %}<li id="{{row.id}}" class=""><span>{{row.title}} {% if 'subtitle' in row %}{{row.subtitle}}{% endif %}</span></li>{% endif %}{% endif %}{% endfor %}</ul>
			</div>
		</div><!-- #content_tramites -->
	</div><!-- #tramites_eu -->
	
	<div id="mexico">
		<div class="container">
			<h2 class="country_back_mx">{{data.mx.title}}<span></span></h2>
			<div class="column half first">
				<ul id="mexico" class="slider_navigation" alt="slider_mexico">
					<li id="mexico_prev" class="prev"></li>
					<li id="mexico_next" class="next"></li>
				</ul>	
				<div id="slide_mexico_wrapper">
					<div id="slider_mexico" class="grid_slider">
						<ul>
							{% for row in mx %}
							<li id="{{row.id}}_slide" class="{% if forloop.first %}current first{% elif forloop.last %}last{% endif %}">							
								<div class="eu_text">
									{% if row.title %}<h4>{{row.title}} {% if row.subtitle %}<span class="small">{{row.subtitle}}</span>{% endif %}</h4>{% endif %}
									<p>{{row.desc}}</p>
								</div>
							</li>
							{% endfor %}						
						</ul>
					</div><!-- #slider_mexico -->
				</div><!-- #slide_mexico_wrapper -->
			</div><div class="column half">
				<div class="slideshow">
					<img src="/media/fe/tramites/mx/GO_tramites_MX_01.jpg" alt="mx" />
					<img src="/media/fe/tramites/mx/GO_tramites_MX_02.jpg" alt="mx" class="hide" />
				</div>
			</div>		
		</div>	
		<div class="list_area grid">
			<h3>{{data.mx.subtitle}}</h3>
			<ul id="tramites_mexico_menu" class="slider_mexico">
				{% for row in mx %}{% if not forloop.first %}{% if forloop.counter == 2 %}<li id="{{row.id}}" class="first {% if forloop.counter == 2 and ln == 0 %} two_lines {% endif %}"><span>{{row.title}}</span></li>{% elif forloop.counter0|divisibleby:"3" %}<li id="{{row.id}}" class="last {% if forloop.counter == 4 and ln == 1 %} two_lines {% endif %}"><span>{{row.title}}</span></li>{% elif forloop.counter == 5 or forloop.counter == 8 or forloop.counter == 11 or forloop.counter == 14 %}<li id="{{row.id}}" class="first {% if forloop.counter == 5 and ln == 1%} two_lines {% endif %}"><span>{{row.title}}</span></li>{% else %}<li id="{{row.id}}" class="{% if forloop.counter == 3 and ln == 1 %} two_lines {% endif %}"><span>{{row.title}}</span></li>{% endif %}{% endif %}{% endfor %}				
			</ul>
		</div>
	</div><!-- #tramites_mexico -->
{% endautoescape %}
{% endblock %}
